body {
    background: linear-gradient(-45deg, #DC8665, #138086, #947bb9, #CD7672, #EEB462);
    background-size: 600% 600%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    } 25%

    {
        background-position: 100% 50%;
    } 50%

    {
        background-position: 50% 100%;
    } 75%

    {
        background-position: 50% 0%;
    } 100%

    {
        background-position: 0 50%;
    }
}


.hidden {
    opacity:0;
}
.console-container {

    font-family: "Krona One", sans-serif;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

