body {
    background: linear-gradient(130deg,#138086,#947bb9, #de7d8d);
    background-size: 600% 600%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


.console-container {
    font-family: "Krona One", sans-serif;
    font-size:46px;
    text-align:center;
    height:200px;
    width:900px;
    display:block;
    position:absolute;
    color: #ffffff;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
.hidden {
    opacity:0;
}

